.text {
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
  &-left {
    text-align: left;
  }
  &-justify {
    text-align: justify;
  }
}

.text-gray {
  color: var(--text-gray);
}

.w-26 {
  width: 26rem;
}

.no-js-intro {
  font-size: 60px;
  color: white;
  margin: 0;
  font-weight: 300;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  width: 350px;
  height: 300px;
  text-align: center;
  text-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

.search-input {
  width: 26rem;
  border: 1px solid black;

  &::placeholder {
    padding-left: 2rem;
    color: var(--placeholder-text);
    font-size: 0.85rem;
  }
  &::-ms-input-placeholder {
    padding-left: 2rem;
    color: var(--placeholder-text);
    font-size: 0.85rem;
  }
  &:-ms-input-placeholder {
    padding-left: 2rem;
    color: var(--placeholder-text);
    font-size: 0.85rem;
  }
}

.search-icon {
  width: 24px;
  img {
    transform: translateY(-50%);
    font-size: 1rem;
    top: 50%;
    right: -5px;
    position: absolute;
  }
}

.shadow-top {
  box-shadow: 0 -1px 1px 0 #828282, 0 1px 2px 0 rgba(0, 0, 0, 0.02);
}

.text-xxm {
  font-size: 0.7rem;
}

.basis-50 {
  flex-basis: 50%;
}

.bottom-2 {
  bottom: 0.5rem;
}

.shop-cards {
  width: fit-content;
}

.border-b-gray {
  border-bottom: 1px solid var(--border-gray);
}

.fit-content {
  width: fit-content;
}

.ml-7 {
  margin-left: 8.5rem;
}

.mr-7 {
  margin-right: 8.5rem;
}

.mailing-input {
  width: 100%;
  border-bottom-right-radius: unset;
  border-top-right-radius: unset;
  border-bottom-left-radius: unset;
  border-top-left-radius: unset;
  border-bottom: 0.5px solid #000000;
  background: inherit;
  color: black;
  padding: 4px 0px;
  &:active {
    padding: 4px 8px;
  }
  &:focus {
    padding: 4px 8px;
  }

  &::placeholder {
    color: var(--placeholder-text);
    font-size: 0.85rem;
  }
  &::-ms-input-placeholder {
    color: var(--placeholder-text);
    font-size: 0.85rem;
  }
  &:-ms-input-placeholder {
    color: var(--placeholder-text);
    font-size: 0.85rem;
  }
}

.bg-gray {
  background: var(--bg-gray);
}

.text-nav {
  color: var(--nav-gray);
  font-size: 0.8rem;
  font-weight: 600;
}

.text-xxs {
  font-size: 0.65rem;
}

.text-xxl {
  font-size: 1.5rem;
}

.line-initial {
  line-height: initial;
}

.bg-gray-1 {
  background: var(--footer-background);
}

.text-orange-700 {
  color: var(--text-highlight);
}
