header {
  //   padding: $padding;
  //   color: white;
  //   .header-hero {
  background-image: url('../img/hero01.svg');
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100vw !important;
  height: 32rem;
  //   height: 28rem;
  //   width: 100vw;
  //   height: 100vh;
  //   }
  .header-scroll {
    transform: translateY(12rem);
    // bottom: 0.5rem;
    // position: sticky;
  }
  @media (max-width: 768px) {
    .header-scroll {
      transform: translate(15%, 12rem);
    }
  }
}
